/* Wall */
#bannerwall {height: 359px;position: relative;}
#banner_text {bottom: 44px;left: 0;overflow: hidden;position: absolute;right: 0;top: 0;background: black;}
#banner_text img {display: block;left: 0;min-height: 100%;min-width: 100%;position: absolute;top: 0;}
#bannerwall + .wall_design {margin-top: 0;}
.wrapbanner {padding: 10px;position: absolute;left: 0;right: 0;bottom: 5%;color: white;text-shadow: 0px 0px 3px black,0px 0px 3px black,0px 0px 3px black;line-height: 30px;}
li.avata_wall img {position: absolute;top: -150px;height: 170px;width: 170px;background: white;padding: 5px;border-radius: 6px;border: 1px solid #ccc}
li.avata_wall {position: relative;padding: 0!important}
li.avata_wall + li {margin-left: 190px!important}
#tabs ul li a {padding: 5px 10px}
#tabs ul {padding: 0}
#banner_tab {padding: 0 10px;position: absolute;bottom: 10px;left: 0;right: 0;background: white;border: 1px solid #ccc;border-top: 0}
#top_wall {position: relative}
#tabs ul li a {background: white;border: 0;border-left: 1px solid #ccc}
#tabs ul li {padding: 0}
#tabs ul li:last-child {border-right: 1px solid #ccc}
#tabs ul li a:hover {background: #f6f7f8}
#tabs ul li.activetab a {background: darkorchid!Important;color: white;border-color: #ccc}
#tabs ul li.activetab {position: relative;overflow: hidden;z-index: 1}
#tabs ul li.activetab:after {content: "";background: #EFEFEF;position: absolute;width: 20px;height: 20px;bottom: -20px;left: 38%;transform: rotate(135deg);display: block;border: 1px solid #ccc;z-index: 2}
#tabs ul li.activetab a:hover {background: white}
#wall_info {position: absolute;bottom: 54px;left: 216px;right: 0;}
#wall_name a {font-family: helvetica, arial, sans-serif;font-size: 24px;line-height: 30px;max-width: 275px;font-weight: bold;letter-spacing: 0;color: white;text-shadow: 0 0 5px black,0 0 5px black,0 0 5px black}
#wall_friend .clear {display: none}
#friend_wrap .friend_list_online_status {display: none}
#friend_wrap .avatar img {width: 100px;height: 100px}
#friend_wrap .avatar,#friend_wrap .friend-block {width: inherit;margin: 5px}
#friend-head {background: #f6f7f8;padding: 10px;border-bottom: 1px solid #ccc}
#wall_friend {
float: left;background: white;border: 1px solid #ccc;margin: 10px 0;display: block;width: 100%;}
#friend_wrap {float: left;padding: 10px}
.friend-block a span {position: absolute;bottom: 11px;left: 0;right: 0;text-shadow: 0 0 1px white,0 0 1px white,0 0 1px white}
.friend-block a {text-align: center;float: left;position: relative}
.all_friend {float: right}
#profile-advanced-right {display: none}
#profile-advanced-left {margin-right: 0}
#profile-advanced-details {margin-right: 0;background: #EFEFEF}
#profile-advanced-layout #new-message {margin-top: 0}
#profile-advanced-left .main {margin: 0}
#profile-advanced-details div.separator,#new-message-link img {display: none}
#profile-advanced-details .main-content {padding: 0;background: #EFEFEF;border: 0}
#profile-advanced-details dl,#profile-advanced-details .stats-field {margin: 10px 0;background: white;padding: 5px 0;width: 100%}
#profile-advanced-details dt,#profile-advanced-details dd {padding: 0 5px}
#profile-advanced-details .subtitle {font-size: 18px;font-weight: bold;color: white}
#profile-advanced-details .stats-field legend {display: inline-block;text-align: center;font-size: 20px;padding: 10px 20px;color: darkmagenta;background: #EFEFEF}
#profile-advanced-details .pagination{font-size:0;margin-bottom:0;vertical-align:middle;float: left;display: block;width: 100%;line-height: 40px;text-align: center;}
#profile-advanced-details .pagination a, #profile-advanced-details .pagination b{background: white;font-size: 14px;margin-right:5px;padding: 5px 9px;border: 1px solid #ccc;font-weight: bold;cursor: no-drop;}
#profile-advanced-details .pagination a:hover{background: #4ae;color: white;cursor: pointer;}
#profile-advanced-details .pagination a img {
zoom: 2;}
#profile-advanced-details ol {padding-left: 0}
.message-block {background: white}
#profile-advanced-details .message-header {background: #0B8C8C;color: white}
.message-text {padding: 5px 10px;line-height: 20px}
.avatar img {width: 120px;border: 5px double #ccc;border-radius: 4px}
#profile-advanced-details .message-block {margin-left: 140px}
#profile-advanced-details ol li {margin-bottom: 15px}
#profile-advanced-details .avatar {width: inherit}
#profile-advanced-details .bottom,#profile-advanced-layout {display: none;margin-top: 50px;}
#friend_add {margin-top: 20px;text-align: right;}
.walluser a[href^="/profile?"], #profile-advanced-details .message-footer li a[href^="/u"] {font-size: 0;display: inline-block;line-height: 35px;padding: 0 20px;text-align: center;background: #91FD19;margin-right: 30px;color: white;border: 2px solid #ccc;border-radius: 10px;}
.walluser a[href^="/profile?"]:before {font-size: 14px;font-family: Tahoma,FontAwesome;display: block;}
.walluser a[href*="friend="]:before,.walluser a[href*="foe="]:before {#friend_adda: before;content: "\f234";font-size: 40px;margin-top: 22px;}
.walluser a[href*="friend="]:after {content: "Kết bạn";font-size: 15px;font-weight: bold;}
.walluser a[href*="foe="]:after {content: "Gây Thù";font-size: 15px;font-weight: bold;}
.walluser a[href*="foe="]:before {content: "\f235";}
.walluser a[href*="foe="] {background: red;}
#profile-advanced-details .message-footer li a {line-height: inherit;padding: 5px 20px;font-size: 0}
#profile-advanced-details .message-footer li a:before, #profile-advanced-details .message-footer li a:after {font-size: 15px;display: inline-block;margin-top: 0;margin-right: 5px;float: left}
#profile-advanced-details .message-footer li:after {display: none}
#profile-advanced-details .message-footer {margin: 5px 0;padding-left: 0}
#profile-advanced-details .message-footer li a[href^="/u"]:before {font-family: FontAwesome,Tahoma}
#profile-advanced-details .message-footer li a[href^="/u"]:before {content: "\f007  Xem thông tin"}
#profile-advanced-details .message-footer li a[href*="wall?d"]:before {content: "\f1f8  Xóa Tin"!important}
#profile-advanced-details .message-footer li a[href*="wall?d"] {background: darkred!Important}
#profile-advanced-details .message-footer li a[href*="wall?s"]:before {content: "\f070  Ẩn Tin"!important}
#profile-advanced-details .message-footer li a[href*="wall?s"] {background: darkmagenta!important}
#profile-advanced-details .message-footer li a[href^="/u"] {line-height: inherit;padding: 5px 20px;font-size: 0;margin-right: 5px;background: darkgoldenrod}
#new-message-link a[title^="New"],#new-message-link a[title^="New"] span {font-size: 0;}
#new-message-link a[title^="New"]:before {content: "\f067  Viết Lên Tường";font-size: 17px;font-family: Tahoma,FontAwesome;}   
.walluser a[href^="/profile?"]:hover,#profile-advanced-details .message-footer li a:hover {background: black!Important;} 
